<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block page_title %}Marcsello's blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <meta name="apple-mobile-web-app-title" content="{{ self.page_title() }}"/>
    <meta property="og:site_name" content="Marcsello's blog"/>
    <meta property="og:title" content="{{ self.page_title() }}"/>
    <meta property="og:url" content="{{ site.url_base }}"/>
    <meta property="article:author" content="Marcsello"/>
    <meta name="author" content="Marcsello">
    <meta name="robots" content="all">
    <meta name="best-pony" content="Derpy">
    <link rel="canonical" href="{{ site.url_base }}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for Marcsello's blog" href="{{ site.rss_feed_path }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/favicon-256x256.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#00021c">
    {% block og_extra_headers %}
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="My very own blog"/>
    {% endblock %}
</head>
<body>
<div class="bootstrap-wrapper">
    <div class="container" id="base">
        <a id="header-holder" href="/" class="row dont-bother">
            <header class="col-lg-9" role="banner">
                <h1>Marcsello's blog</h1>
                <p>My very own blog</p>
            </header>
        </a>
        <div class="row" id="content-holder">
            <main class="col-md-9" id="content">
                {% block content required %}{% endblock %}
            </main>
            <aside class="col-md-3" id="sidebar">
                {% include 'sidebar.html.j2' %}
            </aside>
        </div>
    </div>
</div>
<div id="huge-vertical-spacer-at-the-bottom"></div>
</body>
</html>
