{% extends "base.html.j2" %}
{% import "modules.j2" as m %}
{% block content %}
    <div>
        <p>Hi! This is my blog.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec ipsum elit. Vestibulum augue risus, dignissim eu euismod in, eleifend eget tellus. Etiam at ante id mauris pellentesque hendrerit. Quisque eget felis sed diam tincidunt luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div>
        {{ m.big_article_listing(posts) }}
    </div>
{% endblock %}