{% extends "base.html.j2" %}
{% block content %}
    <div id="tag-listing-header">
        #{{ tag }}
    </div>
    <div>
        <ul>
        {% for post in posts %}
            <!-- TODO: reuse from index -->
            <li><a href="/{{ post.output_dir }}/">{{ post.meta.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}