{% extends "base.html.j2" %}
{% import "modules.j2" as m %}
{% block content %}
    <div id="tag-listing-header">
        #{{ tag }}
    </div>
    <div>
         {{ m.big_article_listing(posts) }}
    </div>
{% endblock %}