<p class="section-header">About me</p>
<p>I've been interested in technology for... well, as long as I can remember. I'm constantly fascinated by it and can't help but want to build something new on it.</p>
<p>You'll usually find me glued to the screen, hacking away at new ideas. Some may find this unhealthy, and I wouldn't argue them.</p>
<p>Anyway, you may find me at these other places:</p>
<ul class="link-list">
    <li><a href="https://github.com/marcsello"><img class="icon" src="/icons/github_logo.png" alt="GitHub Logo" />&nbsp;GitHub</a></li>
    <li><a href="https://soundcloud.com/marcsellohooves"><img class="icon" src="/icons/soundcloud_logo.png" alt="SoundCloud Logo" />&nbsp;Soundcloud</a></li>
    <li><a href="https://www.deviantart.com/marcsello"><img class="icon" src="/icons/deviantart_logo.png" alt="Globe icon" />&nbsp;DeviantArt</a></li>
    <li><a href="https://marcsello.com/"><img class="icon" src="/icons/globe_icon.png" alt="Globe icon" />&nbsp;marcsello.com</a></li>
</ul>

<p><small>(sometimes I like to enhance my skills on other fields like art and music... nothing serious just fun)</small></p>

<p class="section-header">Tags</p>
<ul class="tags-listing" id="side-tags">
    {% for tag in tags %}
        <li><a href="/tag/{{ tag }}.html">#{{ tag }}</a></li>
    {% endfor %}
</ul>

<p class="section-header">Subscribe</p>
<a href="{{ site.rss_feed_path }}"><img class="icon" src="/icons/rss_icon.png" alt="RSS logo"/>&nbsp;RSS Feed</a>

<p class="section-header">Contact</p>
<script>
document.write(unescape('%3C%70%3E%3C%61%20%68%72%65%66%3D%22%6D%61%69%6C%74%6F%3A%6D%65%40%6D%61%72%63%73%65%6C%6C%6F%2E%63%6F%6D%22%3E%6D%65%40%6D%61%72%63%73%65%6C%6C%6F%2E%63%6F%6D%3C%2F%61%3E%3C%2F%70%3E'));
</script>

<footer id="page-footer" class="text-center">
    <p>Carefully crafted by Marcsello. Find source at <a href="https://github.com/marcsello/blog">GitHub</a></p>
    <p><mark>This site does not use cookies!</mark></p>
    <p class="text-muted"><em>The posts on this site are my own and don't necessarily represent my employer's positions, strategies or opinions.</em></p>
    <p>2014 - 2024</p>
</footer>