<p class="sidebar-section-header">About me</p>
<p>yolololololool</p>

<p>
    You may find me at these other places:
    <ul>
        <li>GitHub</li>
        <li>Soundcloud</li>
        <li>DeviantArt</li>
        <li>https://marcsello.com</li>
    </ul>
</p>

<p class="sidebar-section-header">Tags</p>
<ul class="tags-listing" id="side-tags">
    {% for tag in tags %}
        <li><a href="/tag/{{ tag }}.html">#{{ tag }}</a></li>
    {% endfor %}
</ul>

<p class="sidebar-section-header">Subscribe</p>
<a href="{{ site.rss_feed_path }}"><img class="icon" src="/rss_icon.png" alt="RSS logo"/>&nbsp;RSS Feed</a>

<p class="sidebar-section-header">Contact</p>
<p>marcsello@derpymail.org</p>

<footer id="page-footer">
    <!-- TODO: include github repo link, with a note that this is hand-crafted -->
    <p><small>2014 - 2023</small></p>
</footer>